
SCOMP_Project_spr22/db/.cmp.kpt
SCOMP_Project_spr22/db/altsyncram_g524.tdf
SCOMP_Project_spr22/db/altsyncram_qm24.tdf
SCOMP_Project_spr22/db/altsyncram_t334.tdf
SCOMP_Project_spr22/db/lpm_clshift_fuc.tdf
SCOMP_Project_spr22/db/prev_cmp_SCOMP.qmsg
SCOMP_Project_spr22/db/SCOMP.(0).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(0).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(1).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(1).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(10).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(10).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(11).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(11).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(12).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(12).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(13).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(13).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(14).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(14).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(15).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(15).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(16).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(16).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(17).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(17).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(18).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(18).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(19).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(19).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(2).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(2).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(20).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(20).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(21).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(21).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(22).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(22).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(23).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(23).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(24).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(24).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(3).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(3).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(4).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(4).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(5).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(5).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(6).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(6).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(7).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(7).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(8).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(8).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.(9).cnf.cdb
SCOMP_Project_spr22/db/SCOMP.(9).cnf.hdb
SCOMP_Project_spr22/db/SCOMP.asm.qmsg
SCOMP_Project_spr22/db/SCOMP.asm.rdb
SCOMP_Project_spr22/db/SCOMP.cmp.bpm
SCOMP_Project_spr22/db/SCOMP.cmp.cdb
SCOMP_Project_spr22/db/SCOMP.cmp.hdb
SCOMP_Project_spr22/db/SCOMP.cmp.idb
SCOMP_Project_spr22/db/SCOMP.cmp.logdb
SCOMP_Project_spr22/db/SCOMP.cmp.rdb
SCOMP_Project_spr22/db/SCOMP.cmp_merge.kpt
SCOMP_Project_spr22/db/SCOMP.cyclonev_io_sim_cache.ff_0c_fast.hsd
SCOMP_Project_spr22/db/SCOMP.cyclonev_io_sim_cache.ff_85c_fast.hsd
SCOMP_Project_spr22/db/SCOMP.cyclonev_io_sim_cache.tt_0c_slow.hsd
SCOMP_Project_spr22/db/SCOMP.cyclonev_io_sim_cache.tt_85c_slow.hsd
SCOMP_Project_spr22/db/SCOMP.db_info
SCOMP_Project_spr22/db/SCOMP.eda.qmsg
SCOMP_Project_spr22/db/SCOMP.fit.qmsg
SCOMP_Project_spr22/db/SCOMP.hier_info
SCOMP_Project_spr22/db/SCOMP.hif
SCOMP_Project_spr22/db/SCOMP.lpc.html
SCOMP_Project_spr22/db/SCOMP.lpc.rdb
SCOMP_Project_spr22/db/SCOMP.lpc.txt
SCOMP_Project_spr22/db/SCOMP.map.ammdb
SCOMP_Project_spr22/db/SCOMP.map.bpm
SCOMP_Project_spr22/db/SCOMP.map.cdb
SCOMP_Project_spr22/db/SCOMP.map.hdb
SCOMP_Project_spr22/db/SCOMP.map.kpt
SCOMP_Project_spr22/db/SCOMP.map.logdb
SCOMP_Project_spr22/db/SCOMP.map.qmsg
SCOMP_Project_spr22/db/SCOMP.map.rdb
SCOMP_Project_spr22/db/SCOMP.map_bb.cdb
SCOMP_Project_spr22/db/SCOMP.map_bb.hdb
SCOMP_Project_spr22/db/SCOMP.map_bb.logdb
SCOMP_Project_spr22/db/SCOMP.mif_update.qmsg
SCOMP_Project_spr22/db/SCOMP.pre_map.hdb
SCOMP_Project_spr22/db/SCOMP.quiproj.16848.rdr.flock
SCOMP_Project_spr22/db/SCOMP.root_partition.map.reg_db.cdb
SCOMP_Project_spr22/db/SCOMP.routing.rdb
SCOMP_Project_spr22/db/SCOMP.rtlv.hdb
SCOMP_Project_spr22/db/SCOMP.rtlv_sg.cdb
SCOMP_Project_spr22/db/SCOMP.rtlv_sg_swap.cdb
SCOMP_Project_spr22/db/SCOMP.sld_design_entry.sci
SCOMP_Project_spr22/db/SCOMP.sld_design_entry_dsc.sci
SCOMP_Project_spr22/db/SCOMP.smart_action.txt
SCOMP_Project_spr22/db/SCOMP.smp_dump.txt
SCOMP_Project_spr22/db/SCOMP.sta.qmsg
SCOMP_Project_spr22/db/SCOMP.sta.rdb
SCOMP_Project_spr22/db/SCOMP.sta_cmp.6_H6_slow_1100mv_85c.tdb
SCOMP_Project_spr22/db/SCOMP.tis_db_list.ddb
SCOMP_Project_spr22/db/SCOMP.tiscmp.fast_1100mv_0c.ddb
SCOMP_Project_spr22/db/SCOMP.tiscmp.fast_1100mv_85c.ddb
SCOMP_Project_spr22/db/SCOMP.tiscmp.slow_1100mv_0c.ddb
SCOMP_Project_spr22/db/SCOMP.tiscmp.slow_1100mv_85c.ddb
SCOMP_Project_spr22/db/SCOMP.tmw_info
SCOMP_Project_spr22/db/SCOMP.vpr.ammdb
SCOMP_Project_spr22/db/SCOMP_partition_pins.json
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.db_info
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.cmp.ammdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.cmp.cdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.cmp.dfp
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.cmp.hbdb.cdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.cmp.hbdb.hdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.cmp.hbdb.sig
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.cmp.hdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.cmp.logdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.cmp.rcfdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.map.cdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.map.dpi
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.map.hbdb.cdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.map.hbdb.hb_info
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.map.hbdb.hdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.map.hbdb.sig
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.map.hdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.root_partition.map.kpt
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.rrp.hdb
SCOMP_Project_spr22/incremental_db/compiled_partitions/SCOMP.rrs.cdb
SCOMP_Project_spr22/incremental_db/README
SCOMP_Project_spr22/output_files/SCOMP.asm.rpt
SCOMP_Project_spr22/output_files/SCOMP.cdf
SCOMP_Project_spr22/output_files/SCOMP.done
SCOMP_Project_spr22/output_files/SCOMP.eda.rpt
SCOMP_Project_spr22/output_files/SCOMP.fit.rpt
SCOMP_Project_spr22/output_files/SCOMP.fit.smsg
SCOMP_Project_spr22/output_files/SCOMP.fit.summary
SCOMP_Project_spr22/output_files/SCOMP.flow.rpt
SCOMP_Project_spr22/output_files/SCOMP.jdi
SCOMP_Project_spr22/output_files/SCOMP.map.rpt
SCOMP_Project_spr22/output_files/SCOMP.map.summary
SCOMP_Project_spr22/output_files/SCOMP.mif_update.rpt
SCOMP_Project_spr22/output_files/SCOMP.pin
SCOMP_Project_spr22/output_files/SCOMP.sld
SCOMP_Project_spr22/output_files/SCOMP.sof
SCOMP_Project_spr22/output_files/SCOMP.sta.rpt
SCOMP_Project_spr22/output_files/SCOMP.sta.summary
SCOMP_Project_spr22/simulation/modelsim/SCOMP.sft
SCOMP_Project_spr22/simulation/modelsim/SCOMP.vo
SCOMP_Project_spr22/simulation/modelsim/SCOMP_modelsim.xrf
SCOMP_Project_spr22/db/SCOMP.db_info
